[submodule "Submodules/CEF"]
	path = Submodules/CEF
	url = https://github.com/joaovsq/CEF3Binaries.git
[submodule "Submodules/AtomicExamples"]
	path = Submodules/AtomicExamples
	url = https://github.com/joaovsq/AtomicExamples.git
[submodule "Submodules/CppGames"]
	path = Submodules/CppGames
	url = https://github.com/joaovsq/AtomicCppGames.git
